{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django instagram</title>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  </head>
 <body>
  <section class="section">
  <div class="container">
  <div class="column is-mobile has-text-centered">
	<div class="column is-half is-offset-one-quarter">
	<div class="card">
        <div class="card-content">
			<div class="col s12 center-align">
				<i class="large material-icons green-text">check_circle</i>
			</div>
			<div>
				<h4 class= "center-align">Your password has been succesfully changed</h4>
				<br>
				<a href="{% url 'index' %}" class="button is-success">OK</a>
			</div>
	    </div>
	</div>
	</div>
  </div>
  </div>
  </section>
 </body>
</html>
